<!DOCTYPE HTML>
<div class="homepage">
    <p></p>
    <div class="container">
        <p></p>
        <h1 class="title">{{title}}</h1>
        <p>Placeholder for whatever</p>
        <ul>
            <li><a href="/story1">Story 1 - Medical Form</a></li>
            <li><a href="/story2">Story 2</a></li>
            <li><a href="/story3">Story 3</a></li>
            <li><a href="/story4">Story 4</a></li>
            <li><a href="/story6">Story 6 - Practitioners available with given insurance id</a></li>
            <li><a href="/hi">Incorrect route to test 404 page not found</a></li>
        </ul>
    </div>
</div>
